<div class="container">
    <div class="row" style="padding-top: 50px;">
        <h1><img class="img-responsive" src="assets/images/logo.png" alt="">REMINDER</h1>
        <div class="col"></div>
        <div class="col box" >
            <h3>Login Here</h3>
            <form action="" [formGroup]="loginForm" (ngSubmit)="login()" class="fm">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="UserId" name="uId" formControlName="uId">
            </div>
            <div *ngIf="(this.loginForm.get('uId')?.touched || this.loginForm.get('uId')?.dirty)&& this.loginForm.get('uId')?.errors" style="color: red;">invalid password</div>

           <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" name="pswd" formControlName="pswd">
           </div>
           <div *ngIf="(this.loginForm.get('pswd')?.touched || this.loginForm.get('pswd')?.dirty)&& this.loginForm.get('pswd')?.errors" style="color: red;">invalid password</div>
           <button class="btn btn-dark" type="submit">Submit</button>
             <h6 style="padding-top: 10px;">New User? &nbsp; <a routerLink="register"> Register </a> </h6>
        </form>
        </div>
        <div class="col"></div>
    </div>
</div>
