h1{
    color: chocolate;
    font-family: 'Crimson Text', serif;
    text-align: center;
}
h4{
    padding-top: 50px;
    font-family: 'Style Script', cursive;
}
.fm{
    padding-top: 20px;
}
img{
    width: 80px;
    height: 50px;
}
.box{ border-radius: 10px;
    height: 400px;
    width: 100px;
    background-color: rgba(102, 228, 250, 0.952);
}